<span translate>
Nous n'avons pas trouvé vos identifiants dans notre base, contrôllez votre identifiant et votre mot de passe.
</span>
<span translate>
Votre compte est en attente de validation. Veuillez cliquer sur le lien qui vous a été adressé par email.
</span>
<span translate>
Un incident a eu lieu avec le serveur. Merci d'essayer à nouveau.
</span>
<span translate>
Un email vous a été envoyé vous permettant de réinitialiser votre mot de passe.
</span>
<span translate>
Nous n'avons pas trouvé votre email dans notre base.
</span>
<span translate>
Le lien n'est pas correct, impossible de saisir votre nouveau mot de passe
</span>
<span translate>
Vos mots de passe sont différents, merci de corriger votre saisie
</span>
<span translate>
Votre mot de passe a été modifié, vous pouvez vous identifier.
</span>
<span translate>
Impossible de mettre à jour votre mot de passe. Le code passé est erroné
</span>
<span translate>
Impossible de mettre à jour votre mot de passe. Le code passé est obsolète
</span>
<span translate>
Votre compte a été créé. <br>Pour qu'il soit valide, vous devez cliquer sur le lien qui vous a été adressé par email.
</span>
<span translate>
Impossible de créer votre compte, est incident est survenu.<br>Vérifier votre saisie.
</span>
<span translate>
Un compte avec cet email existe déjà!
</span>
<span translate>
Un incident a eu lieu avec le serveur. <br>Merci d'essayer à nouveau.
</span>
<span translate>
Le lien n'est pas correct, impossible d'activer votre compte
</span>
<span translate>
Votre compte a été activé. <br>Vous pouvez maintenant accéder à notre service et vous identifier.
</span>
<span translate>
Impossible d'activer votre compte, un incident est survenu.<br>Vérifier votre saisie.
</span>
