 		<div class="main content clearfix">
            <div class="banner">
                <h2 translate>
                Activation d'un nouveau compte utilisateur
                </h2>
            </div>
            <div class="card signin-card clearfix">
                <span class="error-msg" ng-show="message" ng-bind-html="message | translate"></span>
            </div>
            <div class="centered">
                <p class="create-account">
                    <a href="#" translate>
                    Retour identification
                    </a>
                </p>
            </div>

    	</div>